/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Auth container styles */
.auth-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.auth-container h1 {
    margin-bottom: 20px;
    color: #003366;
}

.auth-container form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.auth-container form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auth-container form button {
    width: 100%;
    padding: 10px;
    background: #003366;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-container form button:hover {
    background: #00509e;
}

.auth-container p {
    margin-top: 20px;
}

.auth-container a {
    color: #003366;
    text-decoration: none;
}

.auth-container a:hover {
    text-decoration: underline;
}

/* Error message styles */
.error {
    color: #d32f2f;
    margin-bottom: 20px;
}
/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

h1, h2 {
    margin: 0;
}

/* Header Styles */
header.dashboard-header {
    background-color: #5a20b9; /* Dark Green */
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Login Section Styles */
section.login-section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

section.login-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"], button[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #7924c9;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover, button[type="button"]:hover {
    background-color: #89e60f;
}

p {
    margin-top: 20px;
}

a {
    color: #5c0eec;
    text-decoration: none;
}

/* Footer Styles */
footer.dashboard-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
